{% extends "base.html" %}
{% block content %}
    <div id="template-body">
        <h1 id="story-template-heading">Story templates</h1>
        <form action="/story_prompt">
            <div class="template-dropdown">
                <select class="template-dropdown-content" id="currenttemplate" 
                name="currenttemplate">
                    <option value="">Choose a story template</option>
                {% for story in story_templates: %}
                    <option value="{{ story.title }}">{{ story.title }}</option>
                {% endfor %}
                </select>
            </div>
            <button id="template-choose-btn">Continue</button>
        </form>
    </div>
{% endblock %}